html {position: relative;
    min-height: 100%;
    
}

body {background-color: rgb(34, 92, 179);
    color: rgb(236, 240, 240);
    font-family: monospace;
    margin: 0 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center; }

h1 {color: rgb(236, 240, 240)}

a {text-decoration: none;
    color: rgb(164, 107, 197);
    font-family: monospace;
    font-weight: bold;
    }

img {height: auto;
    max-width: 100%;
    border-radius: 10%;
    padding-bottom: 2%;}

.questions {background-color: rgb(255, 255, 255);
        color: rgb(27, 34, 34);
        text-align: center;
        padding: 2%;
        width: 50%;
        margin: 0 auto;
        padding-top: 5%;
        border-radius: 10%;  
             
    }    

     


li {list-style: none;
    max-width: 70%;
    margin: 0 auto;
    }   
      

.li1 {display: block;
    text-decoration: none;
    background-color: rgb(255, 194, 190);
    padding: 2%;}  
 .li1 button {background-color: rgb(255, 194, 190);} 

.li2 {display: block;
    text-decoration: none;
    background-color: rgb(255, 251, 190);
    padding: 2%;}  
 .li2 button { background-color: rgb(255, 251, 190);} 

.li3 {display: block;
    text-decoration: none;
    background-color: rgb(190, 255, 235);
    padding: 2%;}  
 .li3 button {background-color: rgb(190, 255, 235);}


.li4 {display: block;
    text-decoration: none;
    background-color: rgb(213, 190, 255);
    padding: 2%;}  
 .li4 button {background-color: rgb(213, 190, 255);}

button {display: block;
        width: 100%;
        border: none;
        font-family: monospace;
        font-size: 2vw;
        font-weight: bold;
        text-decoration: none;
        transition-duration: 1500ms;
        padding: 2%}

 button:hover {background-color: rgb(255,255,255);
            color: rgb(0,0,0);} 

.maintext {color: rgb(236, 240, 240)}

.q1Detail {display: block; padding-left: 0%;}
.q2Detail {display: none; padding-left: 0%;}
.q3Detail {display: none; padding-left: 0%;}
.q4Detail {display: none; padding-left: 0%;}
.q5Detail {display: none; padding-left: 0%;}
.q6Detail {display: none; padding-left: 0%;}
.q7Detail {display: none; padding-left: 0%;}
.q8Detail {display: none; padding-left: 0%;}
.q9Detail {display: none; padding-left: 0%;}
.q10Detail {display: none; padding-left: 0%;}
.q11Detail {display: none; padding-left: 0%;}
.q12Detail {display: none; padding-left: 0%;}
.q13Detail {display: none; padding-left: 0%;}
.q14Detail {display: none; padding-left: 0%;}
.whyDetail {display: none; padding: 10%;}
.text1Detail {display: none; padding-left: 0%;}
.text2Detail {display: none; padding-left: 0%;}
.text3Detail {display: none; padding-left: 0%;}
.text4Detail {display: none; padding-left: 0%;}
.text5Detail {display: none; padding-left: 0%;}

footer {position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;

}